<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <connectionStrings>
      <add name="connection" connectionString="Data Source=localhost\SQLExpress; Initial Catalog=AgileDealSPI; Integrated Security=True;" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <system.web>
      <httpHandlers>
        <add type="AgileDealServerSide.GetMemberBalance, AgileDealServerSide" path="SPI/GetMemberBalance*" verb="*" />
        <add type="AgileDealServerSide.RegisterMember, AgileDealServerSide" path="SPI/RegisterMember*" verb="*"/>
      </httpHandlers>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>
  <system.webServer>
    <handlers>
      <add name="GetMemberBalance" verb="*" path="SPI/GetMemberBalance*" type="AgileDealServerSide.GetMemberBalance, AgileDealServerSide" resourceType="Unspecified" />
      <add name="RegisterMember" verb="*" path="SPI/RegisterMember*" type="AgileDealServerSide.RegisterMember, AgileDealServerSide" resourceType="Unspecified" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
</configuration>
